.cta-tu {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.45)), url(../img/fundo-cta-tu.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-top: .5rem;
  text-align: center;
}

.cta-tu__logo {
  background-image: url(../img/logo-tacticUP-branca-larga.svg);
  height: 61.26px;
  margin: 0 auto;
  width: 185px;
}

.cta-tu__titulo {
  color: #fff;
}

.cta-tu__subtitulo {
  color: #fff;
  margin-top: 2rem;
}

.cta-tu__paises {
  margin-top: 1rem;
  font-size: 3rem;
  letter-spacing: 20px;
  text-align: center;
  line-height: 1.2;
  max-width: 520px;
  font-family: apple color emoji, segoe ui emoji, noto color emoji, android emoji, emojisymbols, emojione mozilla, twemoji mozilla, segoe ui symbol;
}

@media (min-width: 1024px) {
  .cta-tu {
    text-align: left;
    background-position: center ;
    min-height: 654px;
    height: 50vh;
  }

  .cta-tu__paises {
    text-align: left;
  }
}