.cta-yt {
  text-align: center;
}

.cta-yt__video {
  margin-top: 2.5rem;
}

.cta-yt__logo {
  background-image: url(../img/logo-tacticUP-colorida-larga.svg);
  height: 61.26px;
  margin: 0 auto;
  width: 185px;
  margin-top: 2rem;
}
.cta-yt__titulo {
  margin-left: auto;
  margin-right: auto;
}

.cta-yt__texto {
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width:768px) {
  .cta-yt {
    text-align: left;
  }

  .cta-yt .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(4, auto);
    align-items: center;
    column-gap: 4rem;

  }

  .cta-yt__logo{
    margin-left: 0;
    margin-right: 0;
  }

  .cta-yt__video {
    grid-row: span 4;
  }
}