.equipe {
  background: var(--cor-fundo-claro);
}

.equipe__colaboradores {
  margin-top: 2.25rem;
}

.equipe__colaborador {
  display: flex;
}

.equipe__colaborador--cientec {
  align-items: center;
  line-height: 1.2;
}

.equipe__colaborador + .equipe__colaborador{
  margin-top: 1.75rem;
}

.equipe__foto {
  flex-shrink: 0;
  width: 5rem;
  height: 5rem;
  background: #c4c4c4;
  display: block;
  border-radius: 50%;
  margin-right: .5rem;
  background-size: contain;
}

.equipe__foto--1 {
  background-image: url('../img/equipe/paulo-marcio.jpg');
}

.equipe__foto--2 {
  background-image: url('../img/equipe/guilherme-machado.jpg');
}

.equipe__foto--3 {
  background-image: url('../img/equipe/alessandro-teixeira.jpg');
}

.equipe__foto--4 {
  background-image: url('../img/equipe/daiane-de-freitas.jpg');
}

.equipe__foto--5 {
  background-image: url('../img/equipe/claudia.jpg');
}

.equipe__foto--6 {
  background-image: url('../img/equipe/matheus.jpg');
}

.equipe__foto--7 {
  background-image: url('../img/equipe/cientec.svg');
}

.equipe__nome {
  font-size: 1.125rem;
}

.equipe__sobre {
  margin-top: .25rem;
  font-size: 1rem;
}

@media (min-width: 960px) {
  .equipe__colaboradores {
    display: grid; /* 1 */
    grid-template-columns: repeat(auto-fill, 265px); /* 2 */
    grid-gap: 2rem 0;
    justify-content: space-between; /* 4 */
  }

  .equipe__colaborador {
    display: block;
    text-align: center;
    max-width: 265px;
  }

  .equipe__colaborador + .equipe__colaborador {
    margin-top: 0;
  }

  .equipe__foto {
    margin: 0 auto 12px auto;
  }

}