.para-quem {
  background-color: var(--cor-fundo-claro);
}

.para-quem .container{
  padding-right: 0;
}

.para-quem__titulo {
  padding-right: 1rem;
}

.para-quem__botoes {
  margin-top: 2.5rem;
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: 0px repeat(5, 8rem) 0px;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: 1rem;
  margin-left: -.5rem;
}

.para-quem__botoes:before,
.para-quem__botoes:after {
  content: '';
}

.para-quem__botao {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  color: var(--cor-ativo);
  cursor: pointer;
  font-family: var(--ff-sans);
  font-size: .875rem;
  width: 8rem;
  height: 6rem;
  padding: 0 1rem;
  margin-right: 1rem;
  outline: 0;
}

.para-quem__botao:active {
  box-shadow: none;
  transform: scale(0.98); 
}

.para-quem__botao.ativo {
  background-color: var(--cor-ativo);
  color: #fff;
}

.para-quem__botao.ativo .para-quem__icone{
  filter: brightness(100);
}

.para-quem__icone {
  height: 40px;
  width: 40px;
  margin: 0 auto;
}

.para-quem__icone--jogadores{
  background-image: url(../img/para-quem/icone-jogadores.svg);
}

.para-quem__icone--escolas{
  background-image: url(../img/para-quem/icone-escolas.svg);
}

.para-quem__icone--treinadores{
  background-image: url(../img/para-quem/icone-treinadores.svg);
}

.para-quem__icone--analistas{
  background-image: url(../img/para-quem/icone-analistas.svg);
}

.para-quem__icone--direcao{
  background-image: url(../img/para-quem/icone-direcao.svg);
}

.para-quem__itens {
  display: grid;
  /* grid-gap: 1rem; */
  grid-template-columns: 0px repeat(5, 100%) 0px;
  overflow-x: scroll;
  overflow: hidden;
  scroll-snap-type: x proximity;
  padding-bottom: 1rem;
  /* margin-left: -1rem; */
  scroll-behavior: smooth;
}

.para-quem__itens:before,
.para-quem__itens:after {
  content: '';
}

.para-quem__item{
  margin-top: .625rem;
  padding-right: 1rem;
}

.para-quem__ilustracao{
  border-radius: 5px;
  display: block;
  width: 100%;
  height: auto;
}

.para-quem__ilustracao--jogadores {
  /* background-image: url(../img/para-quem/jogadores.jpg); */
}

/* .para-quem__ilustracao--escolas {
  background-image: url(../img/para-quem/escolas.jpg);
}

.para-quem__ilustracao--treinadores {
  background-image: url(../img/para-quem/treinadores.jpg);
}

.para-quem__ilustracao--analistas {
  background-image: url(../img/para-quem/analistas.jpg);
}

.para-quem__ilustracao--direcao {
  background-image: url(../img/para-quem/direcao.jpg);
} */

.para-quem__titulo--item {
  font-size: 1.5rem;
  margin-top: 1.125rem;
}

.para-quem__titulo--item + .texto {
  margin-top: .5rem;
}

@media (min-width: 600px){
  .para-quem__item {
    display: flex;
  }
  .para-quem__ilustracao {
    flex: 1 1 50%;
    margin-right: 1rem;
    align-self: flex-start;
  }

  .para-quem__descricao {
    flex: 1 1 50%;
  }

  .para-quem__titulo--item {
    margin-top: 0;
  }
}

@media (min-width: 960px){
  .para-quem .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .para-quem__titulo {
    text-align: center;
  }

  .para-quem__botoes {
    overflow-x: hidden;
  }
}