.tutorial {
  background-color: var(--cor-fundo-claro);
}

.tutorial__titulo--lista {
  display: none;
}

.tutorial .texto {
  margin-left: auto;
  margin-right: auto;
}

.tutorial__botoes, .tutorial__lista, .tutorial__video {
  margin-top: 2.5rem;
}

.tutorial__botoes {
  display: flex;
}


.tutorial__botao {
  background-color: inherit;
  flex-grow: 1;
  border: 2px solid #D3CEC4;
  border-radius: 0 5px 5px 0;
  font-family: var(--ff-titulo);
  font-size: 1.5rem;
  margin-top: 0;
  text-align: center;
  color: var(--cor-texto-escuro);
}

.tutorial__botao.primeiro {
  border-radius: 5px 0 0 5px;
}

.tutorial__botao.ativo {
  background-color: var(--cor-ativo);
  color: #fff;
  border-color: var(--cor-ativo);
}

.tutorial__secao {
  display: none;
}

.tutorial__secao.ativo {
  display: block;
}

.tutorial__item {
  display: flex;
  align-items: center;
}

.tutorial__item + .tutorial__item {
  margin-top: 2rem;
}

.tutorial__icone {
  height: 56px;
  width: 56px;
  flex: 0 0 56px;
}

.tutorial__item .texto {
  color: var(--cor-texto-escuro);
  line-height: 1.2;
  margin-left: 1rem;
}

.tutorial__obs {
  color: var(--cor-texto);
  display: block;
  font-size: .875rem;
}

.tutorial__icone--1 {
  background-image: url(../img/tutorial/icone-tutorial-jogador-1.svg);
}

.tutorial__icone--2 {
  background-image: url(../img/tutorial/icone-tutorial-jogador-2.svg);
}

.tutorial__icone--3 {
  background-image: url(../img/tutorial/icone-tutorial-jogador-3.svg);
}

.tutorial__icone--4 {
  background-image: url(../img/tutorial/icone-tutorial-jogador-4.svg);
}

.tutorial__icone--5 {
  background-image: url(../img/tutorial/icone-tutorial-jogador-5.svg);
}

.tutorial__icone--6 {
  background-image: url(../img/tutorial/icone-tutorial-jogador-6.svg);
}

.tutorial__icone--7 {
  background-image: url(../img/tutorial/icone-tutorial-jogador-7.svg);
}

.tutorial__icone--8 {
  background-image: url(../img/tutorial/icone-tutorial-jogador-8.svg);
}

.tutorial__yt {
  text-align: center;
}

.tutorial__video{
  margin-bottom: 1.5rem;
}

@media (min-width: 960px) {

  .tutorial__titulo {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .tutorial__botoes {display: none;}

  .tutorial__listas {
    display: flex;
    justify-content: space-between;
  }

  .tutorial__listas .tutorial__secao {
    display: flex;
    max-width: 516px;
    width: 100%;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  }

  .tutorial__secao:first-child {
    margin-right: 1rem;
  }
  
  .tutorial__lista {
    border-radius: 5px;
    background-color: #fff;
    padding-bottom: 24px;
    width: 100%;
    flex-grow: 1;
  }

  .tutorial__titulo--lista {
    display: block;
    font-size: 36px;
    text-align: center;
    margin-bottom: 24px;
    padding-top: 16px;
  }

  .tutorial__item {
    width: 328px;
    margin-left: auto;
    margin-right: auto;
  }

  .tutorial__lista .texto {
    font-size: 18px;
  }
}